.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #b4c6f0;
}

.center {
  margin-top: 15%;
}

.step {
  display: flex;
  padding: 20px;
  margin-left: 50%;
}

.stepCount {
  margin: 10px;
}

.step button {
  height: 20px;
  margin-top: 9px;
}

.count button {
  height: 20px;
  margin-top: 9px;
}

.step button:hover {
  background-color: #0094ff;
}

.count button:hover {
  background-color: #0094ff;
}

.count {
  display: flex;
  padding: 20px;
  margin-left: 50%;
}

.dateCounter {
  width: 110%;
  margin: 15px;
}

.reset {
  padding-bottom: 20px;
}

.reset button {
  margin-left: 160px;
  margin-top: 15px;
  border-radius: 10%;
  font-size: 15px;
  height: 25px;
}

.reset button:hover {
  background-color: #0094ff;
}
